<h4 class='center-align'>SAMPLE KIT INVENTORY</h4>

<table>
    <thead>
      <tr>
        <th>Description</th>
        <th>Quantity</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td id='kitName'></td>
        <td id='kitQTY'></td>
      </tr>
    </tbody>
</table>